* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

a:link, a:visited,  a:hover, a:active{
    text-decoration: none;
}

/*Estilo login*/
.bodyLogin{
    background-color: #132D46;
}
.containerLogin{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 5em;
}

.login{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #191E29;
    border-radius: 16px;
    padding: 1em;
}

.divLogo{
    display: flex;
    background-color: #01C38D;
    max-width: 300px;
    transform: rotate(45deg);
    margin-bottom: 3em;
}

.logo{
    font-family: 'Bebas Neue';
    font-size: 5em;
    color: #FFFFFF;
    transform: rotate(-45deg);
}

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.label{
    color: #01C38D;
    font-family: 'Bebas Neue';
    font-size: 1.5em;
}

.inputText{
    background-color: #132D46;
    font-family: monospace;
    font-size: 16px;
    padding: 0.5em;
    color:#FFFFFF;
    margin-bottom: 1.5em;
}

.inputText:focus{
    outline-color: #01C38D;
    outline-width: 2px;
}

.inputSubmit{
    padding: 1em;
    margin-top: 1em;
    border-radius: 15px;
    border:0px;
    background-color: #01C38D;
    color: #191E29;
    font-family: monospace;
    font-size: 1,5em;
    font-weight: bold;
}

.inputSubmit:hover{
    color:#FFFFFF;
}

.inputSubmit:active{
    color:#191E29;
}

.mensajeAlerta{
    padding-top: 1em;
    padding-bottom: 1em;
    color: #FFFFFF;
    font-family:  monospace;
}

#pNuevoUsuario{
    font-family: monospace;
}

#nuevoUsuario{
    color: #FFFFFF;
}

#nuevoUsuario:hover{
    color: #01C38D;
    font-size: 12px;
}